# Application
PORT=4000
NODE_ENV=development
NODE_HOSTNAME=localhost

# Database
DATABASE_URL='postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require&channel_binding=require'
DATABASE_PROVIDER=postgresql

# Logging
# Valid values: error, warn, log, debug, verbose
# Default: log
APP_LOG_LEVEL=log
