# Application
PORT=4000
NODE_ENV=development
NODE_HOSTNAME=localhost
API_URL=http://localhost:4000

# Database
DATABASE_URL='postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require&channel_binding=require'
DATABASE_PROVIDER=neon

# Logging
# Valid values: error, warn, log, debug, verbose
# Default: log
APP_LOG_LEVEL=log

# Concurrency Test
CONCURRENCY_TEST_PRODUCT_ID=
CONCURRENCY_TEST_USER_ID=
CONCURRENCY_TEST_REQUESTS=30

# Auth
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=10m
BCRYPT_SALT_ROUNDS=10

# AWS (MinIO | Cloudflare R2)
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=true
AWS_CLOUDFRONT_URL=
AWS_S3_PRESIGNED_URL_EXPIRATION=900
AWS_S3_PRESIGNED_URL_DOWNLOAD_EXPIRATION=3600
